<ion-view title="Category">
    <ion-content scroll="true">
        <section class = "home-container">

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_entertainment">
                        <img ng-src="img/category/entertainment.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_finance">
                        <img ng-src="img/category/finance.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_food_drink">
                        <img ng-src="img/category/food_drink.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_shopping">
                        <img ng-src="img/category/shopping.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_tourism">
                        <img ng-src="img/category/tourism.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>

            <div class = "row header">  
                <div class = "col text-center">
                    <a href="#/menu_transportation">
                        <img ng-src="img/category/transport.png" style="width:100%; height:100%">
                    </a>
                </div>
            </div>
        </section>
    </ion-content>
</ion-view>
