<ion-view title="Finance">
    <ion-nav-buttons side="secondary">
        <a href="#" ng-click="message()" class="button button-clear">
            <img ng-src="img/gift.png">
        </a>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <section class = "home-container">
            <div class = "row header" style = "background-color:#69d9ff">
                <div class = "col text-center">
                    <img ng-src="img/category/finance_flat.png" style="width:50%; height:50%">
                </div>
            </div>

            </br>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('atm')" class="button button-clear">
                        <span class="map-icon map-icon-atm" style="font-size:35px"></span>
                    </a>
                    <p>ATM</p>                 
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bank')" class="button button-clear">
                        <span class="map-icon map-icon-bank" style="font-size:35px"></span>
                    </a>
                    <p>Bank</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('finance')" class="button button-clear">
                        <span class="map-icon map-icon-finance" style="font-size:35px"></span>
                    </a>
                    <p>Finance</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('accounting')" class="button button-clear">
                        <span class="map-icon map-icon-accounting" style="font-size:35px"></span>
                    </a>
                    <p>Accounting</p>                    
                </div>

                <div class = "col text-center">               
                </div>

                <div class = "col text-center">           
                </div>
            </div>
 
        </section>
    </ion-content>
</ion-view>
