<ion-view title="Menu">
    <ion-content scroll="false">
        <section class = "home-container">
            <div class = "row header">  
                <div class = "col text-center">
                    <img ng-src="{{map}}" style="width:100%; height:100%">
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('art_gallery')" class="button button-clear">
                        <img ng-src="img/art_gallery.png">
                    </a>
                    <p>Art Gallery</p>                 
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bank')" class="button button-clear">
                        <img ng-src="img/bank.png">
                    </a>
                    <p>Bank</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bar')" class="button button-clear">
                        <img ng-src="img/bar.png">
                    </a>
                    <p>Bar</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('church')" class="button button-clear">
                        <img ng-src="img/church.png">
                    </a>
                    <p>Church</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('establishment')" class="button button-clear">
                        <img ng-src="img/establishment.png">
                    </a>
                    <p>Establishment</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('food')" class="button button-clear">
                        <img ng-src="img/food.png">
                    </a>
                    <p>Food</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('gas_station')" class="button button-clear">
                        <img ng-src="img/gas_station.png">
                    </a>
                    <p>Gas Station</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('restaurant')" class="button button-clear">
                        <img ng-src="img/restaurant.png">
                    </a>
                    <p>Restaurant</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('subway_station')" class="button button-clear">
                        <img ng-src="img/subway_station.png">
                    </a>
                    <p>Subway Station</p>                    
                </div>
            </div>
 
        </section>
    </ion-content>
</ion-view>
