<ion-view title="Entertainment">
    <ion-nav-buttons side="secondary">
        <a href="#" ng-click="message()" class="button button-clear">
            <img ng-src="img/gift.png">
        </a>
    </ion-nav-buttons>

    <ion-content scroll="true" >
        <section class = "home-container">
            <div class = "row header" style = "background-color:#698fff">  
                <div class = "col text-center">
                    <img ng-src="img/category/entertainment_flat.png" style="width:50%; height:50%">
                </div>
            </div>
            
            </br>

            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('amusement_park')" class="button button-clear">
                        <span class="map-icon map-icon-amusement-park" style="font-size:35px"></span>
                    </a>
                    <p>Amusement Park</p>                 
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('movie_theater')" class="button button-clear">
                        <span class="map-icon map-icon-movie-theater" style="font-size:35px"></span>
                    </a>
                    <p>Movie Theater</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('casino')" class="button button-clear">
                        <span class="map-icon map-icon-casino" style="font-size:35px"></span>
                    </a>
                    <p>Casino</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('night_club')" class="button button-clear">
                        <span class="map-icon map-icon-night-club" style="font-size:35px"></span>
                    </a>
                    <p>Night Club</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('gym')" class="button button-clear">
                        <span class="map-icon map-icon-gym" style="font-size:35px"></span>
                    </a>
                    <p>Gym</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bar')" class="button button-clear">
                        <span class="map-icon map-icon-bar" style="font-size:35px"></span>
                    </a>
                    <p>Bar</p>                    
                </div>
            </div>
 
        </section>
    </ion-content>
</ion-view>
