<ion-view title="Menu">
    <ion-content scroll="false">
        <section class = "home-container">
            <div class = "row header">  
                <div class = "col text-center">
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('art_gallery')">
                        <img ng-src="img/art_gallery.png">
                    </a>
                    <p>Art Gallery</p>                    
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bank')">
                        <img ng-src="img/bank.png">
                    </a>
                    <p>Bank</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bar')">
                        <img ng-src="img/bar.png">
                    </a>
                    <p>Bar</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('church')">
                        <img ng-src="img/church.png">
                    </a>
                    <p>Church</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('establishment')">
                        <img ng-src="img/establishment.png">
                    </a>
                    <p>Establishment</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('food')">
                        <img ng-src="img/food.png">
                    </a>
                    <p>Food</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('gas_station')">
                        <img ng-src="img/gas_station.png">
                    </a>
                    <p>Gas Station</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('restaurant')">
                        <img ng-src="img/restaurant.png">
                    </a>
                    <p>Restaurant</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('subway_station')">
                        <img ng-src="img/subway_station.png">
                    </a>
                    <p>Subway Station</p>                    
                </div>
            </div>
 
        </section>
    </ion-content>
</ion-view>
