<ion-view title="Shopping">
    <ion-nav-buttons side="secondary">
        <a href="#" ng-click="message()" class="button button-clear">
            <img ng-src="img/gift.png">
        </a>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <section class = "home-container">
            <div class = "row header">  
                <div class = "col text-center">
                    <img ng-src="img/category/shopping.png" style="width:100%; height:100%">
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('clothing_store')" class="button button-clear">
                        <span class="map-icon map-icon-clothing-store" style="font-size:25px"></span>
                    </a>
                    <p>Clothing Store</p>                 
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('convenience_store')" class="button button-clear">
                        <span class="map-icon map-icon-convenience-store" style="font-size:25px"></span>
                    </a>
                    <p>Convenience Store</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('beauty_salon')" class="button button-clear">
                        <span class="map-icon map-icon-beauty-salon" style="font-size:25px"></span>
                    </a>
                    <p>Beauty Salon</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('book_store')" class="button button-clear">
                        <span class="map-icon map-icon-book-store" style="font-size:25px"></span>
                    </a>
                    <p>Book Store</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('department_store')" class="button button-clear">
                        <span class="map-icon map-icon-department-store" style="font-size:25px"></span>
                    </a>
                    <p>Department Store</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('electronics_store')" class="button button-clear">
                        <span class="map-icon map-icon-electronics-store" style="font-size:25px"></span>
                    </a>
                    <p>Electronics</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('furniture_store')" class="button button-clear">
                        <span class="map-icon map-icon-furniture-store" style="font-size:25px"></span>
                    </a>
                    <p>Furniture</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('grocery_or_supermarket')" class="button button-clear">
                        <span class="map-icon map-icon-grocery-or-supermarket" style="font-size:25px"></span>
                    </a>
                    <p>Grocery/Supermarket</p>
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('hardware_store')" class="button button-clear">
                        <span class="map-icon map-icon-hardware-store" style="font-size:25px"></span>
                    </a>
                    <p>Hardware Store</p>                    
                </div>
            </div>

            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('jewelry_store')" class="button button-clear">
                        <span class="map-icon map-icon-jewelry-store" style="font-size:25px"></span>
                    </a>
                    <p>Jewelry Store</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('shopping_mall')" class="button button-clear">
                        <span class="map-icon map-icon-shopping-mall" style="font-size:25px"></span>
                    </a>
                    <p>Shopping Mall</p>
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('liquor_store')" class="button button-clear">
                        <span class="map-icon map-icon-liquor-store" style="font-size:25px"></span>
                    </a>
                    <p>Liquor Store</p>                    
                </div>
            </div>
 
        </section>
    </ion-content>
</ion-view>
