<ion-view title="Transportation">
    <ion-nav-buttons side="secondary">
        <a href="#" ng-click="message()" class="button button-clear">
            <img ng-src="img/gift.png">
        </a>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <section class = "home-container">
            <div class = "row header">  
                <div class = "col text-center">
                    <img ng-src="img/category/transport.png" style="width:100%; height:100%">
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('airport')" class="button button-clear">
                        <span class="map-icon map-icon-airport" style="font-size:25px"></span>
                    </a>
                    <p>Airport</p>                 
                </div>
 
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bus_station')" class="button button-clear">
                        <span class="map-icon map-icon-bus-station" style="font-size:25px"></span>
                    </a>
                    <p>Bus Station</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('bicycle_store')" class="button button-clear">
                        <span class="map-icon map-icon-bicycle-store" style="font-size:25px"></span>
                    </a>
                    <p>Bicycle Store</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('car_rental')" class="button button-clear">
                        <span class="map-icon map-icon-car-rental" style="font-size:25px"></span>
                    </a>
                    <p>Car Rental</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('car_repair')" class="button button-clear">
                        <span class="map-icon map-icon-car-repair" style="font-size:25px"></span>
                    </a>
                    <p>Car Repair</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('gas_station')" class="button button-clear">
                        <span class="map-icon map-icon-gas-station" style="font-size:25px"></span>
                    </a>
                    <p>Gas Station</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('parking')" class="button button-clear">
                        <span class="map-icon map-icon-parking" style="font-size:25px"></span>
                    </a>
                    <p>Parking</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('subway_station')" class="button button-clear">
                        <span class="map-icon map-icon-subway-station" style="font-size:25px"></span>
                    </a>
                    <p>Subway Station</p>                    
                </div>

                <div class = "col text-center">
                    <a href="#" ng-click="openPage('taxi_stand')" class="button button-clear">
                        <span class="map-icon map-icon-taxi-stand" style="font-size:25px"></span>
                    </a>
                    <p>Taxi Stand</p>                    
                </div>
            </div>
 
            <div class = "row icon-row">
                <div class = "col text-center">
                    <a href="#" ng-click="openPage('train_station')" class="button button-clear">
                        <span class="map-icon map-icon-train-station" style="font-size:25px"></span>
                    </a>
                    <p>Train Station</p>                    
                </div>

                <div class = "col text-center">
                </div>
                
                <div class = "col text-center">
                </div>
            </div>

        </section>
    </ion-content>
</ion-view>
