<ion-view title="List of Places">

    <ion-content padding="false">

        <ion-refresher on-refresh="refresh()"></ion-refresher>

        <div class="list">
            <a ng-repeat="place in places" class="item item-thumbnail-left item-text-wrap" href="#/places/{{place.place_id}}">
                <img ng-src={{place.icon}}>
                <h2>{{place.name}}</h2>
                <ionic-ratings ng-show="{{place.rating}}" ratingsobj="place.rating"></ionic-ratings>
                <p>{{place.vicinity}}</p>
                <p ng-show="{{place.open}}" style="color:green">Open</p>
                <!-- <img ng-show="{{place.open}}" ng-src="img/now_open.png" class="button button-clear"> -->
            </a>
        </div>
    </ion-content>
</ion-view>
