<ion-view title="{{place.name}}">


    <ion-content padding="false">
		<div class="item item-avatar item-text-wrap item-button-right">
			<img ng-src={{place.icon}}>
			<h2>{{place.name}}</h2>
			<p ng-show="place.rating">{{place.rating}}  <i class="ion-ios-star" style="font-size:12px"></i></p>
            <p>{{place.vicinity}}</p>
            <p ng-show="place.open" style="color:green">Open</p>
		</div>

		<div class="row">
<!-- 			<div class="col">
				<a class="tab-item" href="#" ng-click="navigate()">
				  <i class="icon ion-ios-navigate"></i>
				  Directions
				</a>
			</div> -->
			<div class="col">
				<a class="tab-item" href="#" ng-click="openUrl(place.url)">
				  <i class="icon ion-map"></i>
				  Map
				</a>
			</div> 
			<div class="col">
				<a class="tab-item" href="#" ng-click="share()">
				  <i class="icon ion-android-share-alt"></i>
				  Share
				</a>				
			</div>
		</div>

		<div class="item item-body">
			<div ng-show="hasPhotos">
				<ion-slide-box show-pager="true">
					<ion-slide ng-repeat="photo in place.photos">
						<img class="full-image" ng-src={{photo.url}}>
					</ion-slide>				
				</ion-slide-box>
			</div>
		</div>

		<div class="list list-inset">

			<div class="item item-icon-left item-icon-right" ng-click="openUrl('tel: ' + place.formatted_phone_number)">
				<i class="icon ion-android-call"></i>
				Call {{place.formatted_phone_number}}
				<i class="icon ion-chevron-right"></i>
			</div>

<!-- 			<div class="item item-icon-right item-text-wrap" ng-click="openUrl(place.url)">
				{{place.vicinity}}	
				<i class="icon ion-map"></i>
			</div> -->

			<div class="item item-icon-left item-icon-right" ng-click="navigate()">
				  <i class="icon ion-ios-navigate"></i>
				  Directions
				  <i class="icon ion-chevron-right"></i>
			</div>

			<div class="item item-divider">Website</div>
			
			<div class="item item-icon-right item-text-wrap" ng-click="openUrl(place.website)">
				{{place.website}}
				<i class="icon ion-earth"></i>
			</div>
		</div>
    </ion-content>
</ion-view>

