<ion-view title="{{place.name}}">

	<!-- <div class="item map-detail-container">
			<ui-gmap-google-map id="map-canvas" center="myMap.center" zoom="myMap.zoom" draggable="false" control="myMap.control" options="options">
			<ui-gmap-marker coords="myMarker.coords" options="myMarker.options" events="" idkey="myMarker.id"></ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
	 -->
    <ion-content>
		<div class="card">

			<div class="item item-avatar item-text-wrap item-button-right">
				<img ng-src={{place.icon}}>
				<h2>{{place.name}}</h2>
				<p>{{place.vicinity}}</p>
				<img ng-show="{{place.open}}" ng-src="img/now_open.png" class="button button-clear">
			</div>

			<div class="item item-body">
				<div ng-show="hasPhotos">
					<ion-slide-box show-pager="true">
						<ion-slide ng-repeat="photo in place.photos">
							<img class="full-image" ng-src={{photo.url}}>
						</ion-slide>				
					</ion-slide-box>
				</div>
		 
				<p>
					<div class="list">
						<div class="item item-divider">Contacts</div>
						<a class="item" ng-href="tel: {{place.formatted_phone_number}}">
							<i class="icon ion-android-call"></i>
							{{place.formatted_phone_number}}
						</a>
						<a class="item" href="{{place.url}}">
							<i class="icon ion-social-google"></i>
							Visit Google Page
						</a>
						<a class="item" href="{{place.website}}">
							<i class="icon ion-earth"></i>
							Website
						</a>

						<div class="item item-divider">Address</div>
						<a class="item item-text-wrap" href="#">
							{{place.formatted_address}}
						</a>

					</div>

				</p>
<!-- 				<p>
				  <a href="#" class="subdued">1 Like</a>
				  <a href="#" class="subdued">5 Comments</a>
				</p>  -->
		
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" ng-href="tel: {{place.formatted_phone_number}}">
			  <i class="icon ion-android-call"></i>
			  Call us
			</a>
			<a class="tab-item" href="#">
			  <i class="icon ion-map"></i>
			  Map
			</a>
			<a class="tab-item" href="#">
			  <i class="icon ion-share"></i>
			  Share
			</a>
			</div>


		</div>
    </ion-content>
</ion-view>

